.input-el {
  font: inherit;
  background: none;
  border-style: none;
  width: 2ch;
  padding: 0;
  font-weight: bold;
  text-align: center;
  outline: none;
}

.input-el::selection {
  background: none;
}

.wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.5ch;
  height: 2.5ch;
  border-radius: 25%;
  margin: 0 0.5ch 0 0.5ch;
  transition: background-color, left, right, 0.3s;
  position: relative;
}

.wrapper.month {
  z-index: 1;
  left: 33%;
}

.wrapper.day {
  z-index: 2;
}

.wrapper.year {
  z-index: 1;
  right: 33%;
}

.wrapper.month.form-hover {
  left: 0;
}

.wrapper.year.form-hover {
  right: 0;
}

.hidden {
  visibility: hidden;
}
