@import '/src/index.css';

.todo {
  margin-left: 0.5rem;
}

.phantom {
  border: 3px solid gainsboro;
  color: gainsboro;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  padding: 0.5rem;
  cursor:pointer;
}

.bigTodo {
    display: flex;
    flex-direction: column;
    flex:auto;
    margin: 0.5rem;
    margin-right: 1rem;
  }

.gap {
  height: 1rem;
  transition: var(--between-transition)
}

.gap:hover {
  height: 2rem;
  padding-bottom: var(--between-spread);
}