.list {
  padding: 0 0 0 0;
  flex: auto;
  justify-content: space-between;
  margin: 0;
}

.flexcol {
  display: flex;
  flex-direction: column;
  flex: auto;
}

.container {
  position: relative;
}

.back {
  position: absolute;
  z-index: 1;
}

.front {
  position: absolute;
  z-index: 2;
  width: 100%;
}