@import '../../index.css';

.todohead {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  transition: all var(--global-transition-time) ease-out 0s;
  opacity: 1;
  overflow: hidden;
}

.todohead.full {
  height: var(--global-todo-height);
}

.todohead.preview {
  height: var(--global-todo-preview-height);
}

.todoface {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 var(--global-left-padding);
  margin-top: 2px;
}

.todohead:hover{
  opacity: 90%;
}

.todohead-row {
  display: flex;
  overflow: hidden;
}

.todohead-row__cancel {
  justify-content: space-between;
  height: 12px;
  overflow: visible;
}

.todohead-row__cancel .opaque  {
  opacity: 40%;
 }
 
.todohead button:hover {
  opacity: 80%;
}

.todohead-row__cancel button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 6px;
}

.todohead textarea::placeholder {
  color: inherit;
}

.todohead .label {
  height: 1.25em;
  margin: 0; 
}

.label textarea {
  width: 33%;
}

.todohead .display {
  margin: 0 0 0.5em 0;
}

.arrowopen {
  transform:rotate(90deg);
}

.todohead h5 {
  flex-grow: 1;
}

.collapsed {
  height: 0px;
}

.transparent {
  opacity: 0;
}

.opaque {
  opacity: 1;
}

.edge-hitbox {
  height: 5px;
}

.enter {
  opacity: 0;
}

.enterActive {
  opacity: 1;
  transition: opacity var(--global-transition-time);
}

.exit {
  opacity: 1;
}

.exitActive {
  opacity: 0;
  transition: opacity var(--global-transition-time);
}

.todo-bottom {
  margin-top: auto;
}

.invisible {
  visibility: hidden;
}