@import '../../index.css';

.todo {
  display: flex;
  flex-direction: column;
  height: var(--global-todo-height)
}

/* .phantom {
  height: 0;
} */

.adder {
  font-weight: bold;
  text-align: center;
  height: 1rem;
  cursor: pointer;
  justify-content: center;
  height: 1.5rem;
  padding: 0.25rem;
}

.bigTodo {
  display: flex;
  flex-direction: column;
  flex: auto;
}

.adder-entering {
  overflow: hidden;
  height: 1.5rem;
}

.adder-entered {
  height: 1.5rem;
}

.adder-exiting {
  overflow: hidden;
  height: 0rem;
  padding:0; 
}

.adder-exited {
  overflow: hidden;
  height: 0rem;
  padding: 0;
}

.appear {
  height: 0;
}

.appearActive {
  height: var(--global-todo-height);
  transition: height var(--global-transition-time);
}

.enter {
  height: 0;
}

.enterActive {
  height: var(--global-todo-height);
  transition: height var(--global-transition-time);
}

.exit {
  height: var(--global-todo-height);
}

.exitActive {
  height: 0;
  transition: height var(--global-transition-time);
}