.todohead {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: thistle;
  padding: 0.5rem;
}

.todohead-row {
  display: flex;
}

.todohead-row__cancel {
  justify-content: space-between;
}

.todohead button {
  font-weight: bold;
  cursor: pointer;
  background-color: transparent;
  color: gray;
  border: 2px solid grey;
  border-radius: 25px;
  user-select: none;
}

.todohead button:hover {
  opacity: 50%;
}

.todohead h4 {
  margin: 0 0 0.25rem 0;
}

.todohead textarea {
  background-color:transparent;
  border: none;
  resize: none;
  font: inherit;
  margin: 0.5rem 0 0.5rem 0;
  font-weight:bold;
  outline: none;
  display:block;
  transition: all 0.5s ease-out 0s;
}

.todohead textarea:hover {
  background-color:white;
  opacity:50%;
}