@import '../../index.css';

.todo {
  display: flex;
  flex-direction: column;
}

.enter {
  height: 0;
  overflow: hidden;
}

.enterActive {
  height: var(--global-todo-height);
  transition: all var(--global-transition-time);
  overflow: hidden;
}

.exit {
  height: var(--global-todo-height);
  overflow: hidden;
}

.exitActive {
  height: 0;
  transition: all var(--global-transition-time);
  overflow: hidden;
}

.enter.phantom {
  height: 0;
  transition: all var(--global-transition-time);
  overflow: hidden;
}

.enterActive.phantom {
  height: var(--global-adder-height);
  transition: all var(--global-transition-time);
  overflow: hidden;
}

.exit.phantom {
  height: var(--global-adder-height);
  transition: all var(--global-transition-time);
  overflow: hidden;
  padding: 0;
}

.exitActive.phantom {
  height: 0;
  transition: all var(--global-transition-time);
  overflow: hidden;
}

.adder {
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  justify-content: center;
  height: var(--global-adder-height);
  padding: 0.25rem;
}

.adder-entering {
  overflow: hidden;
  height: var(--global-adder-height);
}

.adder-entered {
  height: var(--global-adder-height);
}

.adder-exiting {
  overflow: hidden;
  height: 0rem;
  padding:0; 
}

.adder-exited {
  overflow: hidden;
  height: 0rem;
  padding: 0;
}

.bigTodo {
  display: flex;
  flex-direction: column;
  flex: auto;
}