.textArea {
  max-width: 100%;
}

.textAreaTEMPORARY {
  background-color:transparent;
  border: none;
  resize: none;
  font: inherit;
  font-weight:bold;
  outline: none;
  color: inherit;
  padding: 0px;
  flex-grow: 1;
}
