@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600;700&display=swap');

#root {
  --global-left-padding: 1.25rem;
  --global-todo-height: 6rem;
  --global-todo-preview-height: 3.5rem;
  --global-transition-time: 500ms;
  --global-adder-height: 1.5rem;
  --global-header-height: 6.5rem;
  --global-transition: all var(--global-transition-time) ease-out 0s;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: inherit;
  display: flex;
  flex-direction: column;
}

.background {
  min-height: 100vh;
  height: auto;
  overflow: auto;
  transition: all var(--global-transition-time) ease-out 0s;
}

